@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h1, h3 { user-select: none; }
h3:before, h3:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 7px;
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
}

h3:before {
  margin: 10px 0 0 -110px;
}

h3:after {
  margin: 10px 0 0 10px;
}

.custom-button {
  border: 1px solid #121212;
  box-shadow: 2px 2px #e6e6d8, 3px 4px #c6a39a
}
.custom-button:hover {
  box-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a
}